<!DOCTYPE html>
<html lang="ru">
<head>    
	<title>Test page</title>
	
    <%- include("blocks/head") %>
	
</head>
<body>
   
    <%- include("blocks/header") %>

	<div id="hello-vue" class="demo">
	  {{ message }}
	</div>
	
	<hr>
	
	<div id="app" class="demo">
	
	  <span @mouseover="changeText">Наведи на меня</span>&nbsp;
	  <span @click="changeTextBack">Нажми на меня</span>
	  
	  <br><br>
	  
	  <p>{{ title }}</p>

	  <p :class="styleCSS">Цвет: {{ styleCSS }}</p>
	  <input type="text" @input="styleCSS = $event.target.value" />

	  <ol>
		<li v-for="todo in todos">
		  {{ todo.text }}
		</li>
	  </ol>

	  <ol>
		<todo-item
		  v-for="item in groceryList"
		  v-bind:todo="item"
		  v-bind:key="item.id"
		></todo-item>
	  </ol>

	</div>

	<script src="/js/hello.js"></script>
		
    <%- include("blocks/footer") %>
    
</body>
</html>