<link rel="stylesheet" href="/css/hello.min.css"> 
<script src="https://unpkg.com/vue@next"></script>
<script src="/reload/reload.js"></script>

<div id="hello-vue" class="demo">
  {{ message }}
</div>

<div id="app" class="demo">
  <span @mouseover="changeText">Наведи на меня</span>&nbsp;
  <span @click="changeTextBack">Нажми на меня</span>
  <p>{{ title }}</p>

  <p :class="styleCSS">Цвет: {{ styleCSS }}</p>
  <input type="text" @input="styleCSS = $event.target.value" />

  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>

  <ol>
    <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>

</div>


<script src="/js/hello.js"></script>