<link rel="stylesheet" href="/css/hello.min.css"> 
<script src="https://unpkg.com/vue@next"></script>
<script src="/reload/reload.js"></script>

<div id="hello-vue" class="demo">
  {{ message }}
</div>

<script src="/js/hello.js"></script>