<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Home page</title>
	
	<%- include("blocks/head") %>
	
</head>
<body>
   
    <%- include("blocks/header") %>
    
	<h1>Главная страница</h1>

    <img src="/img/keto.jpg" alt="ХуторянинЪ">

    <%- include("blocks/footer") %>
    
</body>
</html>
