<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test page</title>
	
    <link rel="stylesheet" href="/css/style.min.css">
    <script src="/reload/reload.js"></script>
</head>
<body>
   
    <%- include("blocks/header") %>
    
	<h1>Page for test EJS</h1>
    <p><%= test %></p>

    <%- include("blocks/footer") %>
    
</body>
</html>