<!DOCTYPE html>
<html lang="ru">
<head>    
	<title>Test page</title>
	
    <%- include("blocks/head") %>
	
</head>
<body>
   
    <%- include("blocks/header") %>
    
	<h1>Page for test EJS</h1>
    <p><%= test %></p>

    <%- include("blocks/footer") %>
    
</body>
</html>